/* @import url("reset.css"); */
/* @import url("../../css/style.css"); */
th {
  border: 2px solid #000;
}

a {
  color: #000;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #7e46ac;
}
